<%= @noofbookedseat %>
<div class:"flex" style= "display:flex; width:100%; justify-content:space-between">
  <form action="<%= searchbus_path %>" method="get">
    <div class="form-row" >
      <div class="form-group col-md-4">
        <input type="text" class="form-control" style= "width:250px;" id="source" name="source" placeholder="Enter source"><br/>
        <input type="text" class="form-control" style= "width:250px;" id="destination" name="destination" placeholder="Enter destination"><br/>
        <button type="submit" class="btn btn-primary">Search Buses</button>
      </div>
    </div>
  </form>
  <br/>
  <br/>
  <form action="<%= searchbybusname_path %>" method="get">
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="bus_name" name="bus_name" style= "width:250px;" placeholder="Enter Busname"><br/>
        <button type="submit" class="btn btn-primary">Search Buses</button>
      </div>
    </div>
  </form>
  <br/>
  <br/>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="h5">S.No.</th>
      <th scope="col" class="h5">Available Buses</th>
      <th scope="col" class="h5">Source Routes</th>
      <th scope="col" class="h5">Destination Routes</th>
      <th scope="col" class="h5">Book Ticket</th>
    </tr>
  </thead>
  <tbody>
    <% noofbus = 1 %>
    <% @buses.each do|bus| %>
        <tr>
          <th scope="row"><%= noofbus%></th>
         
          <td><%= bus.busname %></td>
          <td><%= bus.source_route %></td>
          <td><%= bus.destination_route %></td>
          <td><%=link_to "BookNow" ,bus ,class:"btn btn-success"%></td>
        </tr>
        <% noofbus = noofbus+ 1 %>
    <% end %>
  </tbody>
</table>                 