<h1 align= "center">Book Seat in Bus</h1>
<h2 align = "center">Bus Name :<%= @bus.busname %></h2>
<%= form_with(model: [@bus ,@reservation] ,url: "/buses/#{@bus.id}/reservations") do |form| %>

  <%= form.hidden_field :dateofjourney, value: params[:dateofjourney] %>

  <div class = "container"> 
    <div>
      <div class= "main">
            <% @bus.noofseat.times.each do |seat_no| %>
              <div class = "child">
                <% if CheckSeatIsBooked?(seat_no+1,@bus.id,params[:dateofjourney]) == true %>
                  <%= form.label:"seatno:#{seat_no+1}" %>
                  <%= check_box_tag "reservation[selected_seats][]",seat_no+1, nil ,checked:true ,disabled:true %>
                <% else %>
                  <%= form.label:"seatno#{seat_no+1}" %>
                  <%= check_box_tag "reservation[selected_seats][]", seat_no+1, nil %>
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
      <div class="actions">
        <%= form.submit "Book Seat" ,class:"btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>