<%= render @bus %>

<div>
  <%= link_to "Book Ticket" ,choose_date_path(@bus.id) ,class:"btn btn-success"%><br/><br/>
  <% if current_user.present? %> 
    <% if current_user.id == @bus.owner_id %>
      <%= link_to "Edit this bus", edit_bus_path(@bus) ,class:"btn btn-primary"%>
      <br/><br/>
      <%= link_to "show Reservations" , bus_choose_date_path(@bus) ,class:"btn btn-success"%><br/><br/>
      <%= button_to "Destroy this bus", @bus, method: :delete ,class:"btn btn-danger"%>
    <% end %>
  <% end %>
  <br/><br/>
  <%= link_to "Back to buses", buses_path ,class:"btn btn-info"%>
</div>
